html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-moz-selection {
  background: #fff;
  color: #858585;
}

::selection {
  background: #fff;
  color: #858585;
}

.clock {
  font-size: 45vmin;
  line-height: 0.8;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -0.05em;
  font-variant-numeric: tabular-nums;
  overflow: hidden;
}

.clock-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  background: repeating-radial-gradient(circle at -150% -25%, #888, #080808 0.025em, #888 0.05em);
  filter: contrast(1000%) blur(0.5px);
  -webkit-animation: breathing 60s ease-in-out infinite alternate;
          animation: breathing 60s ease-in-out infinite alternate;
}

.numbers {
  font-size: 1em;
  filter: blur(0.0125em);
  transform: rotate(6deg);
  color: #ccc;
  opacity: 0.46;
}

.hour {
  transform: translatex(0.2em);
}

.min {
  transform: rotate(10deg) translatey(10px);
}

.sec {
  transform: translatex(-0.35em) rotate(20deg);
}

.clock-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  background: repeating-radial-gradient(circle at -150% -25% , #f7b232 0em, #f7b232 0.05em, #e12626 0.05em, #e12626 0.1em, #733d2c 0.1em, #733d2c 0.15em, #2b1d1d 0.15em, #2b1d1d 0.2em, #511c69 0.2em, #511c69 0.25em, #1c73c4 0.25em, #1c73c4 0.3em, #a0cdfb 0.3em, #a0cdfb 0.35em, #69d6ad 0.35em, #69d6ad 0.4em, #ffcd04 0.4em, #ffcd04 0.45em, #fbaaaa 0.45em, #fbaaaa 0.5em);
  filter: blur(2px);
  -webkit-animation: breathing 60s ease-in-out infinite alternate;
          animation: breathing 60s ease-in-out infinite alternate;
}

@-webkit-keyframes breathing {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes breathing {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}